<div class="container mt-5 product btn-primary p-5">
    <h1 class="btn-primary">Esta es la página de productos {{title}}</h1>
     <button class="btn-danger btn"><a class="a_link" routerLink="/show">Ir a SHOW_PAGE</a></button>
    <p class="coment-works">product-details works!</p>
    <h1>Lista de productos</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, repellendus commodi fuga nobis corrupti dicta, nostrum aliquam ea laborum nesciunt ad provident, aut quam eligendi debitis eos quos sint libero?</p>
<hr>
<div class="personal">
  <h3>Aqui va la lista de productos</h3>
<button class="btn-secondary">Lista del personal</button>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel consectetur quis, nihil.</p>  
</div>

</div>