@import '../../sass/color';

.product{
    position: relative;
    h1{
        text-align: left;
    }
    p{
        width: 60%;
    }
    .coment-works{
        color: black;
        position: absolute;
        left: 0;
        top: 0;
        text-transform: uppercase;
    }
  .personal{
    background-color: rgba(0,0,0,.2);
    padding: .4em;
    position: relative;
    text-align: right;
    cursor: pointer;
    
    p{
       
        width: 30%;
        text-align: right;
        color: black;
    }
    &:hover p{
        color: white;
    }
}  
}
ul{
    width: 100px;
    text-align: left;
}

.productosdelistadelpersonal
{
    background-color: rgba(0,0,0,.1);
    h2{
        text-align: center;
    }
    table{
        background-color: azure;
    }
  
}