
<div class="show">
   <p>show works!</p> 
   <h1>Hola para el SHOW</h1>
   <hr>
   <p>Esta es un enlace para probar los <b class="btn-secondary">ROUTER-LINK</b> </p>

   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, asperiores. Voluptas, earum totam! Asperiores reiciendis voluptates necessitatibus aut distinctio quisquam at rerum recusandae cumque commodi esse nobis, quam illo. Quod.</p>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, non expedita molestias ea pariatur consequatur necessitatibus, temporibus distinctio dolore dignissimos ad quis nihil autem cum ratione ullam minus omnis dolorem.</p>

</div>
<div class="container servicios">
 <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error iusto, tenetur consequatur dolore autem libero blanditiis ipsum voluptates! Distinctio et quia ipsam similique ex tempore laborum corrupti possimus voluptas officiis.</p>
 <ul class="list-group">
   <li class="list-group-item" *ngFor= "let item of servicio, index as i">
      
      <h4>Nombre: {{item.nombre}}</h4>
      <h5>Especialidad: {{item.especialidad}}</h5>
      <a routerLink= "['/service', i]">Leer más....</a>
   
   
   </li>
   
 </ul>
</div>