
<div class="show">
   <p>show works!</p> 
   <h1>Hola para el SHOW</h1>
   <hr>
   <p>Esta es un enlace para probar los <b class="btn-secondary">ROUTER-LINK</b> </p>

   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, asperiores. Voluptas, earum totam! Asperiores reiciendis voluptates necessitatibus aut distinctio quisquam at rerum recusandae cumque commodi esse nobis, quam illo. Quod.</p>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, non expedita molestias ea pariatur consequatur necessitatibus, temporibus distinctio dolore dignissimos ad quis nihil autem cum ratione ullam minus omnis dolorem.</p>

</div>
