
$color-red: #FF0000;
$color-green: #00FF00;
$color-blue: #0000FF;

/* _colors.scss */
$primary:#00ff40; 
$secondary: #f44336; 
$tretiary:#03a9f4; 
$tera: #ffeb3b; 
$dark:#000000; 
$grey:#919191; 
$light:#dddddd; 
$white:#FFFFFF; 

/*-----OLIVE*2-------------*/
$clr-olive-gold: #B8860B;
$clr-olive-golden: #DAA520;

/*-----LIME--------------*/
$clr-lime: #00FF00;
$clr-limegreen: #32CD32;

/*-----------AQUA-------------*/
$clr-aqua: #00FFFF;
$clr-medium-aqua: #66CDAA;

/*--------NAVY--------------*/
$clr-navy: #000080;