<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1 class="h1">Soy el {{inicio}}</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary p-4">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-around" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
      </nav>

      <div class="container bg-light">
              <h1>Todo esto es el <b class="btn-primary">{{inicio}}</b></h1>
      </div>

       <!-- ngIf........Esto es un DIV a la derecha que se
      oculta (by deefault) y aparece-->

      <div  class="n">
        <h1>Hola</h1>
        <button class="btn btn-warning" (click)="show=!show">Show/Hide</button>
       <p>Lorem erfgbertipsum dolor sit amet consectetur adipisicing elit.</p>


        <div class="test" *ngIf="show">
       <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, rem suscipit culpa obcaecati nemo officiis numquam nobis sit eum iusto ratione dignissimos distinctio fugit maiores quia ipsam in et quos?</p>
        </div>
      </div>
      <!--Este funciona cuando la variable=true(#else)-->
      <div *ngIf="show; else MostrarContenidoSiEsTrue">Content to render when condition is true.</div>
        <ng-template #MostrarContenidoSiEsTrue>
          <div class="else">
            Now is false.
          </div> 
        </ng-template>
     
        <div *ngIf="show; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>Content to render when condition is true.</ng-template>
        <ng-template #elseBlock>Content to render when condition is false.</ng-template>

<p class="p_last">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto distinctio deleniti molestiae vel inventore adipisci voluptate accusantium quod, odio minus perferendis aut optio, cum ratione aliquid laudantium asperiores, iste sit?</p>
</body>
</html>
