@import '../sass/color';                                                                                                                                                              

.test{
    background-color: $clr-aqua;
    display: flex;
    justify-content: space-between;
}

